* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto; 
}

/* header */

header {
  font-family: 'Prompt', sans-serif;
  width: 100%;
  height: 40px;
  background-color: #270108; 
}
.header-container {
  text-align: right;
  padding-top: 7px;
}
.account {
  color: #fff;
}
.name {
  color: #edc113;
}
.header-container a {
  color: #fff;
  text-decoration: none;
}

/* nav */

nav {
  width: 100%;
  height: 100px;
}

.nav-grid {
  display: grid;
  grid-template-columns: 85px 320px 1fr;
}
.bran img {
  margin-top: 7px;
  border: 4px solid #fdcd05;
  border-radius: 50px;
}

.bran-name {
  font-family: 'Sarabun', sans-serif;
  margin-top: 14px;
}
.bran-name h4 {
  color: #4d2224;
  font-size: 16px;
}
.bran-name p {
  color: #232323;
  font-size: 14px;
  text-transform: uppercase;
}

.menu-bar {
  list-style-type: none;
  overflow: hidden;
  margin-top: 20px;
}
li {
  float: left;
}

li a.link, .dropbtn {
  font-size: 14px;
  display: inline-block;
  color: #232323;
  text-align: center;
  padding: 14px 12px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  color: #edc113;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: 14px;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #edc113;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropbtn img {
  position: relative;
  top: -4px;
}
.dropbtn span {
  position: absolute;
  margin-left: 5px;
}
.dropdown-content span {
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
}

.overlay {
  font-family: 'Prompt', sans-serif;
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
}

.openBtn {
  background: #f1f1f1;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 70px;
}

.openBtn:hover {
  background: #bbb;
}

/* The content */
.overlay-content {
  position: relative;
  top: 35%;
  width: 40%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

/* Close button */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

form h1 {
  color: #f1f1f1;
  margin-bottom: 20px;
}

/* Style the search field */
.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

/* Style the submit button */
.overlay button {
  float: left;
  width: 10%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}

.mySlides {
  display: none
}
.mySlides img {
  vertical-align: middle;
  height: 720px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px 36px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 36px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  font-family: 'Sarabun', sans-serif;
  color: #fff;
  position: absolute;
  bottom: 40%;
  width: 100%;
  text-align: center;
}
.text h1 {
  font-size: 72px;
}
.text p {
  font-size: 20px;
}

i.fa-universal-access {
  position: absolute;
  font-size: 35px;
  background-color: #ffd000;
  color: #fff;
  padding: 14px;
  right: 0;
  top: 45%;
  cursor: pointer;
}
i.fa-link {
  position: absolute;
  font-size: 35px;
  background-color: #2e1213;
  color: #fff;
  padding: 15px;
  right: 0;
  top: 53.8%;
  cursor: pointer;
}

/* The dots/bullets/indicators */
.dot1 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot1:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.grid-items {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 140px);
  grid-gap: 2px;
  justify-content: center;
}
.content-item:nth-child(1) {
  background-image: linear-gradient(rgba(43, 78, 168, 0.5), rgba(43, 78, 168, 0.5)), url("../img/content-item1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.content-item:nth-child(1) h2 {
  font-family: 'Prompt', sans-serif;
  color: #fff;
  font-size: 36px;
  margin-top: 50px;
  margin-left: 10px;
}
.content-item:nth-child(1) p {
  font-family: 'Prompt', sans-serif;
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
}
.content-item:nth-child(2) {
  background-image: linear-gradient(rgba(127, 94, 149, 0.5), rgba(127, 94, 149, 0.5)), url("../img/content-item2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.content-item:nth-child(2) h2 {
  font-family: 'Prompt', sans-serif;
  color: #fff;
  font-size: 36px;
  margin-top: 50px;
  margin-left: 10px;
}
.content-item:nth-child(2) p {
  font-family: 'Prompt', sans-serif;
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
}
.content-item:nth-child(3) {
  background-image: linear-gradient(rgba(217, 140, 38, 0.5), rgba(217, 140, 38, 0.5)), url("../img/content-item3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.content-item:nth-child(3) h2 {
  font-family: 'Prompt', sans-serif;
  color: #fff;
  font-size: 36px;
  margin-top: 50px;
  margin-left: 10px;
}
.content-item:nth-child(3) p {
  font-family: 'Prompt', sans-serif;
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
}
.content-item:nth-child(4) {
  background-image: linear-gradient(rgba(105, 84, 64, 0.5), rgba(105, 84, 64, 0.5)), url("../img/content-item4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.content-item:nth-child(4) h2 {
  font-family: 'Prompt', sans-serif;
  color: #fff;
  font-size: 36px;
  margin-top: 50px;
  margin-left: 10px;
}
.content-item:nth-child(4) p {
  font-family: 'Prompt', sans-serif;
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
}
.content-item:nth-child(5) {
  background-image: linear-gradient(rgba(140, 35, 61, 0.5), rgba(140, 35, 61, 0.5)), url("../img/content-item5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.content-item:nth-child(5) h2 {
  font-family: 'Prompt', sans-serif;
  color: #fff;
  font-size: 36px;
  margin-top: 50px;
  margin-left: 10px;
}
.content-item:nth-child(5) p {
  font-family: 'Prompt', sans-serif;
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
}
.content-item:nth-child(6) {
  background-image: linear-gradient(rgba(63, 147, 121, 0.5), rgba(63, 147, 121, 0.5)), url("../img/content-item6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.content-item:nth-child(6) h2 {
  font-family: 'Prompt', sans-serif;
  color: #fff;
  font-size: 36px;
  margin-top: 50px;
  margin-left: 10px;
}
.content-item:nth-child(6) p {
  font-family: 'Prompt', sans-serif;
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
}

hr.content {
  display: inline-block;
  width: 30%;
  margin-top: 108px;
  border-top: 10px solid #682d2f;
  float: left;
}
.content-heading {
  font-family: 'Prompt', sans-serif;
  margin-top: 37px;
}
.content-heading h1 {
  display: inline;
  font-size: 130px;
  float: left;
  color: #682d2f;
}
.content-heading span {
  display: inline-block;
  font-size: 40px;
  color: #682d2f;
  margin-top: 55px;
}
.content-heading p {
  display: block;
  font-size: 19px;
}

.grid-menu {
  margin-top: 60px;
  font-family: 'Prompt', sans-serif;
  display: grid;
  grid-template-columns: 16% 18% 20% 9% 13% 16%;
  grid-template-rows: auto;
  grid-gap: 2px;
  text-align: center;
  justify-content: center;
}
.grid-menu a {
  list-style: none;
  text-decoration: none;
  padding: 16px 0;
  color: #000;
  background-color: #ffd000;
}
.grid-menu a:hover {
  color: #fff;
  background-color: #363635;
}

.grid-content {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.middle .fa-facebook {
  font-size: 24px;
  color: #ffd000;
  padding: 6px 10px;
  border: 5px solid #ffd000;
}
.middle .fa-instagram {
  font-size: 24px;
  color: #ffd000;
  padding: 6px 8px;
  border: 5px solid #ffd000;
}

.card {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: auto;
}

.card.image {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.image img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card:hover .image {
  opacity: 0.3;
}

.card:hover .middle {
  opacity: 1;
}

.news {
  font-family: 'Prompt', sans-serif;
  margin-top: 20px;
  margin-left: 20px;
}
.news span {
  padding: 5px 10px;
  background-color: #363635;
  border: 1px solid #363635;
  border-radius: 20px;
  color: #fff;
}

.detail {
  font-family: 'Prompt', sans-serif;
  margin-top: 20px;
  margin-left: 20px;
}
.detail h3 {
  font-size: 16px;
  color: #270108;
}
.date {
  display: inline-block;
  padding-top: 20px;
  font-size: 12px;
}

.paragraph {
  margin-top: 10px;
  font-size: 12px;
}
b {
  display: inline-block;
  margin-top: 10px;
  padding-bottom: 10px;
}

.blockSlide {
  display: none
}
.grid-content {
  vertical-align: middle;
}

.blockshow {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

i.fa-angle-left, i.fa-angle-right {
  font-size: 25px;
  cursor: pointer;
}

.active, .dot2:hover {
  background-color: #717171;
}

.fade1 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade1 {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade1 {
  from {opacity: .4} 
  to {opacity: 1}
}

.content-main {
  margin-top: 20px;
  width: 100%;
  height: 635px;
  background-image: url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-left: 70px;
  padding-top: 50px;
}
.content-main h1 {
  font-family: 'Prompt', sans-serif;
  font-size: 57px;
  padding-left: 100px;
}
.content-main span {
  font-size: 34px;
}

main {
  display: flex;
  justify-content: space-between;
}
aside {
  width: 50%;
  height: auto;
}
.list-menu {
  width: 70%;
  height: auto;
  margin-left: 100px;
}
.link-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 2px;
}
.link-menu a {
  font-family: 'Prompt', sans-serif;
  text-decoration: none;
  color: #000;
  padding: 16px 0;
  text-align: center;
}
.link-menu a:hover {
  background-color: #ffd000;
  
}

.block-items {
  display: grid;
  grid-template-columns: 10% 77% 13%;
  grid-template-rows: auto;
  margin-bottom: 2px;
  cursor: pointer;
}
.date-item {
  background-color: #505050;
  color: #fff;
  text-align: center;
}
.date-item h1 {
  font-size: 48px;
}
.date-item p {
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
}
.contents-item {
  padding: 15px;
}
.contents-item h5 {
  font-size: 18px;
}
.contents-item p {
  font-size: 14px;
  color: #808080;
}

.icon-item {
  background-color: #4d2224;
  text-align: center;
}
.icon-item img {
  margin-top: 10px;
  padding: 5px;
  border-radius: 20%;
  background-color: #ffd000;
}
.icon-item h6 {
  color: #fff;
}
.icon-item p {
  margin-top: 3px;
  color: #ffd000;
}

.block-items:hover {
  border: 5px solid #ffd000;
}

article {
  width: 50%;
  height: auto;
}
.block {
  width: 70%;
  height: auto;
  margin-left: 70px;
  margin-top: 25px;
}
.bl-item {
  font-family: 'Prompt', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 15px;
}
.block-item:nth-child(1) {
  background-color: #293660;
  color: #fff;
  padding: 15px 23px 0 0;
  text-align: right;
  border-bottom-right-radius: 40px;
}
.block-item:nth-child(1) p {
  font-size: 14px;
}
i.fa.fa-linode {
  position: relative;
  transform: translate(50%);
  left: -25%;
  top: -10%;
  font-size: 50px;
}
.block-item:nth-child(1) h1 {
  display: inline;
  font-size: 54px;
  color: #ffd000;
}
.block-item:nth-child(1) h4 {
  display: inline;
  font-size: 18px;
}
.block-item:nth-child(2) {
  grid-area: 1 / 2 / 3 / 3;
  background-color: #2a5947;
  color: #fff;
  padding: 45px 35px 0 0;
  text-align: right;
  border-bottom-right-radius: 40px;
}
.block-item:nth-child(2) p {
  font-size: 16px;
}
.block-item:nth-child(2) h3 {
  font-size: 24px;
}
i.fa.fa-bookmark-o {
  position: relative;
  transform: translate(50%);
  top: 25%;
  left: -10%;
  font-size: 64px;
}
.block-item:nth-child(2) h1 {
  display: inline;
  font-size: 94px;
  color: #ffd000;
}
.block-item:nth-child(2) h4 {
  display: inline;
  font-size: 18px;
}
.block-item:nth-child(3) {
  background-color: #422e21;
  color: #fff;
  padding: 15px 23px 0 0;
  text-align: right;
  border-bottom-right-radius: 40px;
}
.block-item:nth-child(3) p {
  font-size: 14px;
}
i.fa.fa-ravelry {
  position: relative;
  transform: translate(50%);
  left: -35%;
  top: -10%;
  font-size: 50px;
}
.block-item:nth-child(3) h1 {
  display: inline;
  font-size: 54px;
  color: #ffd000;
}
.block-item:nth-child(3) h4 {
  display: inline;
  font-size: 18px;
}

.block-video {
  margin-top: 30px;
  margin-bottom: 15px;
}
.block-video span {
  padding: 15px 100px 15px 20px ;
  background-color: #ffd000;
}
.video {
  background-color: #000;
  color: #fff;
}
.video h1 {
  font-size: 16px;
  padding-left: 20px;
}
.video p {
  font-size: 13px;
  padding-left: 20px;
  padding-bottom: 20px;
}


.blockSlide {
  display: none
}
.grid-content {
  vertical-align: middle;
}

.blockshow {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.dot3 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

i.fa-angle-left, i.fa-angle-right {
  font-size: 25px;
  cursor: pointer;
}

.active, .dot3:hover {
  background-color: #717171;
}

.fade3 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade2 {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade2 {
  from {opacity: .4} 
  to {opacity: 1}
}

section.block-content {
  width: 100%;
  height: auto;
}

.block-menu {
  font-family: 'Prompt', sans-serif;
  display: grid;
  grid-template-columns: 18% 18%;
  grid-gap: 2px;
  text-align: center;
  margin-top: 50px;
}
.block-menu a {
  list-style: none;
  text-decoration: none;
  padding: 16px 0;
  color: #000;
  background-color: #ffd000;
}
.block-menu a:hover {
  color: #fff;
  background-color: #505050;
}

.last-items {
  font-family: 'Prompt', sans-serif;
  margin-top: 2px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 165px;
  text-align: center;
  color: #fff;
}
.content-bg:nth-child(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content-bg:nth-child(1) h1 {
  font-size: 18px;
  margin-top: 100px;
}
.content-bg:nth-child(1) span {
  font-size: 14px;
}
.content-bg:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content-bg:nth-child(2) h1 {
  font-size: 18px;
  margin-top: 80px;
}
.content-bg:nth-child(2) span {
  font-size: 14px;
}
.content-bg:nth-child(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content-bg:nth-child(3) h1 {
  font-size: 18px;
  margin-top: 80px;
}
.content-bg:nth-child(3) span {
  font-size: 14px;
}
.content-bg:nth-child(4) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content-bg:nth-child(4) h1 {
  font-size: 18px;
  margin-top: 100px;
}
.content-bg:nth-child(4) span {
  font-size: 14px;
}
.content-bg:nth-child(5) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content-bg:nth-child(5) h1 {
  font-size: 18px;
  margin-top: 100px;
}
.content-bg:nth-child(5) span {
  font-size: 14px;
}
.content-bg:nth-child(6) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content-bg:nth-child(6) h1 {
  font-size: 18px;
  margin-top: 100px;
}
.content-bg:nth-child(6) span {
  font-size: 14px;
}

.link-item {
  width: 100%;
  height: auto;
  background-color: #2a2a2a;
}
.link-items {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
li.list {
  color: #ffd000;
  list-style-type:square;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: #ffffff;
}
ul li a:hover {
  color: #ddd;
}
footer {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #340e15;
}

.footer-items {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  margin-bottom: 30px;
}
.tag {
  position: absolute;
  top: -30px;
  left: 85%;
  transform: translateX(-50%);
  z-index: 999;
  background: #26090a;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.contact-item:nth-child(1) h1 {
  font-family: 'Prompt', sans-serif;
  color: #ffd000;
  font-size: 20px;
}
.contact-item:nth-child(1) span {
  font-family: 'Prompt', sans-serif;
  color: #fff;
  font-size: 12px;
}
.app {
  margin-top: 20px;
  font-size: 18px;
  
}
.app .fa-facebook {
  color: #fff;
  padding: 6px 10px;
  border: 3px solid #fff;
}
.app .fa-instagram {
  color: #fff;
  padding: 6px 7px;
  border: 3px solid #fff;
}
.app .fa-twitter {
  color: #fff;
  padding: 6px 6px;
  border: 3px solid #fff;
}

i.fa-volume-control-phone, i.fa-print, i.fa-envelope-o, i.fa-headphones {
  font-size: 20px;
  color: #fff;
  padding-right: 10px;
}
.contact-item:nth-child(2) span {
  color: #ffd000;
  font-size: 12px;
}
.contact-item:nth-child(2) p.n1 {
  display: inline;
  color: #fff;
  font-size: 14px;
  padding-left: 96px;
}
.contact-item:nth-child(2) p.n2 {
  display: inline;
  color: #fff;
  font-size: 14px;
  padding-left: 100px;
}
.contact-item:nth-child(2) p.n3 {
  display: inline;
  color: #fff;
  font-size: 14px;
  padding-left: 110px;
}
.contact-item:nth-child(2) p.n4 {
  display: inline;
  color: #fff;
  font-size: 36px;
  padding-left: 48px;
}
.contact-item:nth-child(3) {
  color: #fff;
  font-size: 14px;
  align-self: center;
}
p.end {
  margin-top: 10px;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.nb {
  margin: auto;
  margin-top: 20px;
  width: 20%;
  height: auto;
  text-align: center;
  background-color: #000;
}
.nb h1 {
  padding-top: 10px;
  color: #fff;
}
.nb p {
  padding-bottom: 10px;
  color: #fff;
}

@media only screen and (max-width: 800px) {



}

@media only screen and (max-width: 768px) {
  


}

@media only screen and (max-width: 480px){

  nav {
    height: auto;
  }
  .nav-grid {
    display: grid;
    grid-template-columns: 95px 1fr;
  }

  .bran {
    padding-left: 5px;
  }
  .bran-name {
    grid-area: 1 / 2 / 2 / 4;
  }
  .bran-name h4 {
    font-size: 14px;
    margin-top: 8px;
  }
  .bran-name p {
    font-size: 12px;
  }
  ul.menu-bar {
    grid-area: 2 / 1 / 3 / 4;
    margin: 0;
    text-align: center;
  }
  .dropbtn img {
    margin-left: 20px;
  }


  form h1 {
    font-size: 16px;
  }
  .overlay input[type=text] {
    padding: 10px;
    width: 70%;
  }
  .overlay button {
    width: 30%;
    padding: 10px;
  }
  i.fa.fa-universal-access {
    font-size: 20px;
    padding: 5px;
    top: 15%;
    
  }
  i.fa.fa-link {
    font-size: 20px;
    padding: 6px;
    top: 30%;
  }

  .mySlides img {
    height: auto;
  }
  .text h1 {
    font-size: 28px;
  }
  .text p {
    font-size: 12px;
  }

  .grid-items {
    grid-template-columns: 1fr 1fr;
  }

  .content-item:nth-child(1) h2 {
    font-size: 30px;
    margin: 60px 0 0 10px;
  }
  .content-item:nth-child(1) p {
    font-size: 16px;
  }
  .content-item:nth-child(2) h2 {
    font-size: 30px;
    margin: 60px 0 0 10px;
  }
  .content-item:nth-child(2) p {
    font-size: 16px;
  }
  .content-item:nth-child(3) h2 {
    font-size: 30px;
    margin: 60px 0 0 10px;
  }
  .content-item:nth-child(3) p {
    font-size: 16px;
  }
  .content-item:nth-child(4) h2 {
    font-size: 30px;
    margin: 60px 0 0 10px;
  }
  .content-item:nth-child(4) p {
    font-size: 16px;
  }
  .content-item:nth-child(5) h2 {
    font-size: 30px;
    margin: 60px 0 0 10px;
  }
  .content-item:nth-child(5) p {
    font-size: 16px;
  }
  .content-item:nth-child(6) h2 {
    font-size: 30px;
    margin: 60px 0 0 10px;
  }
  .content-item:nth-child(6) p {
    font-size: 16px;
  }

  hr.content {
    width: 18%;
    margin-top: 60px;
    border-top: 4px solid #682d2f;
  }
  .content-heading h1 {
    font-size: 48px;
  }
  .content-heading span {
    margin: 0;
    font-size: 16px;
    padding-top: 18px;
  }
  .content-heading p {
    font-size: 10px;
  }

  .grid-menu {
    margin-top: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid-menu a {
    font-size: 10px;
  }

  .grid-content {
    grid-template-columns: 278px;
    justify-content: center;
  }
  .news span {
    font-size: 14px;
  }
  .detail h3 {
    font-size: 14px;
  }
  span.date {
    font-size: 10px;
  }
  p.paragraph {
    font-size: 10px;
  }
  b {
    font-size: 14px;
  }

  .content-main {
    height: 300px;
    padding: 0;
    padding-top: 40px;
    text-align: center;
  }
  .content-main h1 {
    padding: 0;
    font-size: 24px;
  }
  .content-main span {
    font-size: 12px;
  }

  main {
    flex-direction: column;
  }
  aside {
    width: 100%;
    height: auto;
  }

  .list-menu {
    margin: 0 auto;
    margin-top: 15px;
    width: 90%;
  }
  .list-menu a {
    font-size: 10px;
  }
  .date-item h1 {
    font-size: 26px;
    margin-top: 8px;
  }
  .date-item p {
    font-size: 12px;
  }
  .contents-item {
    padding: 5px;
  }
  .contents-item h5 {
    font-size: 10px;
  }
  .contents-item p {
    font-size: 10px;
  }
  .icon-item h6 {
    font-size: 8px;
  }
  .icon-item p {
    font-size: 8px;
    padding-bottom: 5px;
  }

  article {
    width: 100%;
    height: auto;
  }
  .block {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .block-item:nth-child(1) {
    padding: 12px 12px 0 0;
  }
  .block-item:nth-child(1) p {
    font-size: 14px;
  }
  .block-item:nth-child(1) h3 {
    font-size: 16px;
  }
  .block-item:nth-child(1) h1 {
    font-size: 42px;
  }
  .block-item:nth-child(1) h4 {
    font-size: 16px;
  }
  i.fa.fa-linode {
    font-size: 32px;
    left: -15%;
  }
  .block-item:nth-child(2) {
    padding: 50px 12px 0 0;
  }
  .block-item:nth-child(2) p {
    font-size: 14px;
  }
  .block-item:nth-child(2) h3 {
    font-size: 20px;
  }
  .block-item:nth-child(2) h1 {
    font-size: 64px;
  }
  .block-item:nth-child(2) h4 {
    font-size: 16px;
  }
  i.fa.fa-bookmark-o {
    font-size: 36px;
    left: -15%;
  }
  .block-item:nth-child(3) {
    padding: 12px 12px 0 0;
  }
  .block-item:nth-child(3) p {
    font-size: 14px;
  }
  .block-item:nth-child(3) h3 {
    font-size: 16px;
  }
  .block-item:nth-child(3) h1 {
    font-size: 42px;
  }
  .block-item:nth-child(3) h4 {
    font-size: 16px;
  }
  i.fa.fa-ravelry {
    font-size: 32px;
    left: -25%;
  }

  .video h1 {
    display: inline-block;
    font-size: 12px;
    padding-left: 10px;
  }
  .video p {
    font-size: 10px;
    padding: 10px 0 10px 10px;
  }

  .block-menu {
    grid-template-columns: 35% 35%;
    justify-content: center;
  }
  .block-menu a {
    font-size: 12px;
  }
  .last-items {
    grid-template-columns: 1fr 1fr;
  }
  .content-bg:nth-child(1) h1 {
    font-size: 14px;
  }
  .content-bg:nth-child(1) span {
    font-size: 10px;
  }
  .content-bg:nth-child(2) h1 {
    font-size: 14px;
  }
  .content-bg:nth-child(2) span {
    font-size: 10px;
  }
  .content-bg:nth-child(3) h1 {
    font-size: 14px;
  }
  .content-bg:nth-child(3) span {
    font-size: 10px;
  }
  .content-bg:nth-child(4) h1 {
    font-size: 14px;
  }
  .content-bg:nth-child(4) span {
    font-size: 10px;
  }
  .content-bg:nth-child(5) h1 {
    font-size: 14px;
  }
  .content-bg:nth-child(5) span {
    font-size: 10px;
  }
  .content-bg:nth-child(6) h1 {
    font-size: 14px;
  }
  .content-bg:nth-child(6) span {
    font-size: 10px;
  }

  .link-items {
    grid-template-columns: 1fr;
  }
  li.list {
    font-size: 14px;
  }
  li a {
    font-size: 14px;
  }
  .link {
    padding-bottom: 20px;
  }
  .footer-items {
    grid-template-columns: 1fr;
    text-align: center;
    margin: 0;
  }
  .contact-item {
    margin-bottom: 20px;
  }
  .contact-item:nth-child(1) h1 {
    font-size: 16px;
  }
  .contact-item:nth-child(1) span {
    font-size: 10px;
  }

  p.end {
    font-size: 10px;
  }
  .nb {
    width: 60%;
  }
  .nb h1 {
    font-size: 26px;
  }
  .nb p {
    font-size: 12px;
  }
  .tag {
    width: 35%;
    font-size: 10px;
    left: 75%;
    top: -4%;
  }
}